/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
.flex {
    display: flex;
}

nav {
    display: flex;
    justify-content: flex-start;
    /* background-color: rgb(185, 30, 30); */
    align-items: center;
    height: 45px;
    padding: 5px;
    margin: 0 100px;
}
nav div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}
section[aria-label="navbar"] {
    margin: 29px 0px 0px 0px;
}
.rowFlex {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: aqua;

} 
.grow-list {
    width: 50%;
}

/* nav div ul, .list {
    list-style-image: initial;
    color: rgb(175, 237, 204);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #af3180;
} */

.list {
    list-style-image: initial;
    color: rgb(175, 237, 204);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #c0c0c0;
    color: #afacac;

}
.list li:first-child {
    font-weight: 700;
    color: #313131;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    flex: 1;
}

button.nav-button {
    height: 41px;
    width: 100px;
    border: 2px solid rgb(102 103 193);
    border: none;
    border-radius: 10px;
    background: rgb(102 103 193);
    background-color: #5955b3;
}
.nav-button.btn {
    margin: 90px 0x 0px 0px;
    height: 50px;
    width: 150px;
    border: 2px solid rgb(102 103 193);
    border-radius: 10px;
    background: rgb(102 103 193);
    background-color: #5955b3;
}

/* .width50px {
    width: 50%;

} */

/* .grow-list {
    width: 50%;
} */
nav div img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
    /* width: 62px;*/
}

.banner-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.banner-container {
    margin: 50px 0px 0px 100px;
}

.banner-container h1 {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #3c2f60;
    font-size: xx-large;
}

.banner-container h1 span {
    color: rgb(102 103 193)
}

.banner-container img[alt="illustration"] {
    height: 97vh;
    width: 166vh;
    /* width: auto; */
    /* height: auto; */
    /* flex: 0;*/
}

button {
    color: #fff;
}
 /*div img {
    height: 22px;

} */