/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;

}

body {
    background-image: url(./assets/bg.png);
    max-width: 1440px;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* height: 100%;
    width: 100%; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    /* width: 200vh;
    height: 100vh; */
    background-size: 100vw 100vh;

}

.navbar {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    height: 50px;
    align-items: center;
    background-color: black;
    padding: 0px 35px;
    /* margin: 0 100px; */
}

.grow-list {
    display: flex;
    align-items: center;
    width: 50%;
    height: inherit;
    margin-left: 3%;
    /* flex: 1; */
    /* margin: 0% 0% 5; */

}

.list {
    /* list-style-image: initial;
    color: rgb(175, 237, 204); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #c0c0c0;
    color: #afacac; 
    flex: 1;
}



/* .list li::after {
    content: "";
    margin: 2px;
    width: 1px;
    height: 1px;
    border: solid rgb(243, 232, 232);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}  */

/* .arrow {
    border: solid grey;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

.myarrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} */

/* li {
    width: 2px;
    height: 2px;
} */


nav div img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    /* width: 62px;*/
}

.navbar div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    /* width: 62px;*/
}


button.button-small {
    height: 26px;
    width: 110px;
    border: none;
    border-radius: 5px;
    /* position: absolute;
    top: 0%;
    right: 0% ; */
}

/* button-color */
button {
    background-color: #ba0cc5;
    border: none;
    border: none;
    border-radius: 5px;
}

button.button-large {
    height: 40px;
    width: 30vh;
    margin-top: 4vh;
}
/* button div */
nav div:nth-child(4) {
    /* background-color: red; */
    height: auto;
    width: auto;
    position: absolute;
    top: inherit;
    /* left: ; */
    right: 5%;
    /* flex: 1; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

[aria-label="hero"] {
    box-sizing: border-box;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 79vh;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
}

.hero h1 {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #e3dfee;
    font-size: xx-large;
    font-size: 40px;
    font-weight: 700;
    text-align: center;

}

.hero p {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    font-size: xx-large;
    font-size: 18px;
    font-weight: 400;
}