@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --grid-cols-1: repeat(1, minmax(0, 1fr));
    --main-bg-color: #151515;
    --colorOrnText: #f637ec;

}

* {
    font-family: poppins, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* color: #9e9e9e; */

}

body {
    background-color: var(--main-bg-color);
    max-width: 1280px;
    /* overflow: hidden; */
    /* margin: 0px; */
    /* display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: ; */
    position: relative;
    /* max-width: 1280px; */

}

section.main-body {
    overflow: hidden;
    /* display: flex;
    flex-flow: column;
    justify-content: center; */
    /* align-items: ; */
}

/* nav -----------------------------*/
.nav {
    color: rgb(197, 193, 193);
    padding: 2px 80px;
    padding-top: 10px;
    font-size: 14px;
    /* place-items: center; */
    align-items: center;
    height: 70px;
    /* margin-top: 5px; */

}

/* img logo */
.nav>div>img {
    width: 34%;
    /* display: flex;
    align-items: flex-end; */

}

.nav>.Logo {
    /* padding: 10px; */
    padding-left: 0px;
    /* align-self: center; */
}

nav>:nth-child(1)>ul>li {
    /* margin-left: 20px; */
}

.nav-list-1 li {
    /* margin-left: 40px; */
    /* padding: 10px; */
    padding-left: 0px;
}

.nav-list-1 {
    padding: 0% 5%;
    align-items: center;
}

.nav-list-2 li {
    margin-left: 55px;
    /* padding: 10px; */
    /* padding-left: 0px; */
}

.nav-list-2 {
    justify-content: flex-end;
    align-items: flex-end;
}

.con-us {
    position: relative;
}

.btn-pnk {
    /* position: relative; */
    position: absolute;
    /* top: 34px; */
    /* right: 10px; */
    left: -19px;
    z-index: -1;
    width: auto;
    /* height: 3.5%; */
    overflow: hidden;
    /* background: linear-gradient(to right, rgb(212, 47, 198), pink); */
    /* background:  url("./Project 1- Credit Card Landing Page/Icons/btn-pink-bg.svg"); */
    /* opacity: 70%; */
}



.caret-v {
    margin-left: 15px;

}

.caret-v::after {
    /* content: "\f0d7";
    display: block; */
}

.caret-v+i::before {
    width: 10px;
    height: 10px;
    background-color: #fff;
}


/* main */
main {
    /* padding: 0px 80px; */

}

/* section:1 ------------------------ */
section.simplify {
    /* background-image: ; */
    padding: 0px 80px;


}

.simplify {
    position: relative;
}

.front-card {
    height: auto;
    width: 67%;
    position: absolute;
    top: 10px;
    right: -265px;
    /* margin-left: ; */
    z-index: 10;
    opacity: 1;
    overflow: hidden;
}

.back-card {

    height: auto;
    width: 67%;
    position: absolute;
    top: -45px;
    right: -100px;
    /* margin-left: ; */
    /* opacity: 1; */
    overflow: hidden;
}

.sec1-heading {
    font-size: 74px;
    /* width: 1000px; */
    width: 83%;
    margin-top: 50px;
}

.simplify {
    display: flex;
    flex-direction: column;
}

.One-Card {
    color: #f637ec;
    font-weight: 600;
}

.sec1-para {
    margin-top: 40px;
    width: 50%;
    /* padding: 0px 10px; */
}

.sec1-started {
    margin-top: 80px;
    font-size: 23px;
    margin-left: 30px;

}

.sec1-started div {
    position: relative;
    /* display: inline-block; */
}

.sec1-started div img {
    /* content: url("./Project 1- Credit Card Landing Page/Assets/Icons/btn-pink-bg.svg");; */
    /* position: relative; */
    position: absolute;
    z-index: -1;
    top: -44px;
    left: -30px;
    display: inline-block;
    /* background-image: url("./Project 1- Credit Card Landing Page/Assets/Icons/btn-pink-bg.svg");
    background-repeat: no-repeat; */
    width: 70px;
    height: 120px;
}

/* .sec1-started::before {
    position: relative;
    content: "";
    background-image: url("./Project 1- Credit Card Landing Page/Assets/Icons/btn-pink-bg.svg");
    left: 50px;
    z-index: -1; */
/* margin-top: 80px;
    font-size: 23px; */
/* } */


/* .simplify>.img>.bgi {
    background-image: url('./Project 1- Credit Card Landing Page/Assets/Photos/backCards.png'); 
    display: inline-block;
    width: 50%;
    height: auto;
} */
/* ||||||| */
.sec1-Happy {
    margin-top: 80px;
}

.sec1-Happy ._42k,
.sec1-Happy ._12k {
    font-size: 42px;
    font-weight: 500;
}

._12k>span,
._42k>span {
    color: #f637ec;
}

/* ._42k::after {
    content: "+";
    margin-left: -12px;
} */

._12k span {
    content: "+";
    margin-left: -12px;
}

._42k span {
    content: "+";
    margin-left: -12px;
}

.sec1-Happy .Happy {
    /* width: 180px; */
    /* padding: 0px 10px; */
    padding-left: 15px
}

.vert-Bar {
    padding: 0px 40px;
    /* width: 50px; */
}

.vert-Bar {
    /* height: 30px; */
    /* color: #fff; */
}

.sec1-Happy .years {
    /* width: 180px; */
    /* padding: 0px 20px; */
    padding-left: 15px
}

/* <!-- section:2 Logo images--------------------- --> */
section.sec-2 {
    padding: 0;
    margin-top: 160px;
}

.Logo-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 85px;
    padding: 80px 0px;
    background-color: #292929;
}

.Logo-5>img {
    width: 120px;
    height: auto;
}

/* <!-- section:3 The best payment------------------------ --> */

.sec3 {
    padding: 120px 80px;
}

.theBest {
    font-size: 67px;
    /* width: 1800px; */
    /* padding: 0px 80px; */
}

.theBest>span {
    color: var(colorOrnText);
    color: #f637ec;
    font-weight: 600;
}

.theFollowing {
    color: #a2a1a1;
    font-size: 19px;
    /* padding: 0px 20px; */
    padding-top: 80px;
    padding-left: 40px;
    /* margin-left: 40px; */
    /* padding-left: 60px; */
    width: 990px;
    
    /* margin-left: 59px; */
}

.sec3-paras {
    gap: 0px 40px;
    /* flex-wrap: wrap; */
}

/* Blocks */
.blocks {
    margin-top: 180px;

}

.block2 {
    /* margin-bottom: 20px; */
    position: relative;
    bottom: 50px;
    /* #5d5d5d */
    background: linear-gradient(140deg, #3f3b39, #5d5d5d);
}

.block1,
.block2,
.block3 {
    /* padding: 50px 90px; */
    /* color: ; */
    gap: 30px 0px;
    width: 350px;
    height: 330px;
    background-color: #262626;
    flex-direction: column;
    font-size: 26px;
    /* border-style: solid; */
    border: 1px groove white;
    /* border-color: white */

}

.block1>div,
.block2>div,
.block3>div {
    /* width: 250px; */
    text-align: center;
}

.block1>img,
.block2>img,
.block3>img {
    width: 140px;
    height: auto;
}

/* <!-- section:4 The best payment --------------> */
.sec4 {
    gap: 20px 0px;
    /* height: 50vh; */
    flex-direction: column;
    background: #fceffb;
    color: #292929;
    padding: 150px 0px;
} .sec4 > .Unique {
    font-size: 70px;
    font-weight: 400;
    color: #292929;
    margin-bottom: 18px;
    margin-top: -15px;

} .sec4 > .Unique > div {
color: #f637ec;
text-align: center;
font-weight: 600;
}.weProvide {
    color: #292929;
    font-size: 19px;
    /* padding: 0px 350px; */
    width: 700px;
    color: #6f6a6f;
    /* color: #746e74; */
    text-align: center;
}

.vCard {
    width: 1000px;
    position: relative;
    bottom: 60px;
    /* top: 200px; */
    /* background: url('/Project 1- Credit Card Landing Page/Assets/Photos/VCards.png'); */
    z-index: 10;
}

/* <!-- section:5 Customer are satisfied  --------------> */
.section5 {
    padding: 0px 0px;
}
.sec5 {
    flex-direction: column;
    gap: 80px 0px;
} .sec5-B1 {
    flex-direction: column;
    gap: 50px 0px;

} .B2-b1,.B2-b2,.B2-b3,.B2-b4  {
    gap: 32px 0px;
    flex-direction: column;
    width: 450px;
    /* background-color: #444343; */
    background-color:#1e1f24;    ;
    padding: 18px 0px 10px 20px;
    border: 2px groove white;
    color: #9e9e9e;

} .B2-b1:hover,.B2-b2:hover,.B2-b3:hover,.B2-b4:hover {
    gap: 25px 0px;
    flex-direction: column;
    width: 450px;
    height: 210px;
    background-color: #444343;
    background: linear-gradient(140deg, #3f3b39, #5d5d5d);
    padding: 18px 0px 10px 20px;
    border: 2px groove white;
    /* color: #9e9e9e; */

}
.blocksGrid {
    /* display: grid; */
    grid-template-columns:  repeat(2, 1fr);
    /* grid-template-rows: 2; */
    gap: 20px;
    width: 80vw;
    color: #9e9e9e;
} .blocksGrid * {
    color: #bdbcbc;
    
} 
.sec5 .customers {
    font-size: 65px;
    width: 1000px;
    text-align: center;
    margin-top: 100px;
} .sec5 .customers > span {
    color: #f637ec;
    font-weight: 500;
} .sec5 .withVarious {
    font-size: 19px;
    width: 550px;
    text-align: center;
    color: #9e9e9e;
}

/* flex property --------- */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.item-center {
    align-items: center;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

/* Grid */

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

/* other */
.decoration-none {
    list-style-type: none;
    list-style: none;
}

.spacing {
    margin-left: 3px;
}

.bg-grey {
    background: grey;
}