/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #ffffff; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* overflow: hidden; */
    /* font-family: poppins; */
    /* font-family: Orbiton; */

}


nav.navbar-container {
    display: flex;
    list-style: none;
    justify-content: space-between;
    height: 65px;
    align-items: center;

    /* background-color: black; */
    /* padding: 0px 60px; */
    /* margin: 0 100px; */

}




body {
    /* display: grid;
    grid-template-columns: ;
    grid-template-rows: 20px 56px 70vh; */


}



.list {
    /* margin-left: 50%; */
    display: flex;
    align-items: center;
    width: 60%;
    height: inherit;
    list-style: none;
    justify-content: space-between;
    /* margin-left: 3%; */
    /* flex: 1; */
    font-weight: 600;
    font-size: 17px;
}

/* button-grp-div */
nav.navbar-container .button-group {
    display: flex;
    /* margin-left: 50%; */
    width: 14%;
    align-items: center;
    /* justify-content: space-between; */
    row-gap: 20%;
    gap: 10px;
    margin-right: 2%;
}

/* button div inside nav */
nav .button-group .search-icon+div {

    width: auto;
    /* display: flex; */
    /* margin-left: 60%; */
    /* place-content: center; */
    /* color: rebeccapurple; */
    /* background-color: rgb(173, 205, 98);*/
}


section[aria-label="navbar"] {
    padding: 0% 6%;
    padding-top: 3%;
}

/* ul */
nav.navbar-container>div:nth-child(2) {
    /* background-color: rgb(29, 205, 114); */
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron';
}

nav img {
    width: 120px;
    height: auto;
    height: auto;
    align-self: center;
    vertical-align: middle;

}

.nav-button {
    border-radius: 4px;
    width: 80px;
    height: 1000px;

}

/* button */
.search-icon+div .nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: 34px;
    border-radius: 12px;
    /* margin-left: 60%; */
    /* color: rebeccapurple; */
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    color: grey;
    border: 2px solid black;
    border: 2.5px solid black;
    /* margin-left: 60%; */
    /* color: rebeccapurple; */
    /* background-color: red;*/

}

.nav-button::before {
    content: " ";
    height: 8px;
    /* margin-top: 2px; */
}


.search-icon {
    width: 21px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    height: 100vh;
    width: 100vw;
}

.list>li:first-child {
    /* text-decoration-line: underline; */
    font-weight: 900;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list>li:first-child::after {
    content: "";
    width: 44px;
    border-bottom: 2px solid black;
}
/* container */
.container {
    /* padding: 2%; */
    padding: 0% 2%;
    width: 100vw;
    height: 100vh;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 0% 6%;
    padding-top: 2%;
    width: 100%;
    height: 500px;
    height: 89vh;
}

.hero-container-right {
    width: 60%;
    height: ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* padding-top: 0%; */
    margin-top: 2%;

}

.hero-container-right h1,button {
    font-family: Orbitron;

}

.hero-container-right h1 {
    font-size: 45px;
    font-weight: 800;
    font-family: orbitron;
}
.hero-container-right>p {
    text-align: center;
    /* width: 83%; */
    height: auto;
    font-family: Poppins;
    color: grey;
}

/* image-model div*/
.hero-container>span+div {
    background-color: red;
    /* position: absolute; */
    left: 20px;
    /* height: 30%; */
    height: 389px;
    width: auto;
    /* width: 31%;*/
}
/* model img */
.hero-container>span+div>img {
    /* width: 365px; */
    height: 100%;
    width: 100%;
}

.square>img {
    width: 100%;
    height: 100%;
}

.square,
.star,
.globe {
    position: absolute;
    right: 80px;

}

.square {
    left: 16.7%;
    top: 54%;
    z-index: -1;
    display: inline-block;
    width: 20%;
    height: auto;
}

.star {
    /* right: 30px;  */
    top: 29%;
    right: 7%;

}
.star img {
    width: 40%;
    height: auto;
}

.globe {
    top: 23%;
    /* left: 48%; */
    right: 39%;
    /* width: 10px; */
    height: auto;
}
.globe img {
    width: 45%;
}

span {
    display: inline-block;
}
/* div of buttons email join  */
.hero-container-right>p+div {
    display: flex;
    /* width: 30%; */
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(172, 56, 56); */
}
/* button-email */
.hero-container-right .button-email {
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    height: 25px;
    width: 140px;
    border: 1.5px solid #4a4949;
    text-align: center;
    color: rgb(116, 115, 115);
    font-weight: 600;

}

.hero-container-right .button-join {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    height: 24px;
    width: 90px;
    border: none;
    background-color: #000;
    text-align: center;
    color: #ffffff;
}

.hero-container-right>div:nth-child(4) {
    /* background-color: rgb(247, 39, 39); */
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
}

.hero-container-right>div:nth-child(4) img {
    width: 20px;
    width:60%;
    height: auto;
}

.hero-container-right>div:nth-child(4) .icons {
padding-left: 6%;
} 

.contact-heading {
    font-size: 15px;
    font-weight: 500;
    color: rgb(116, 115, 115);
    font-family: poppins;
}
